[submodule "third_party/LuaJIT"]
	path = third_party/LuaJIT
	url = git@github.com:bzEq/LuaJIT.git
[submodule "third_party/sol2"]
	path = third_party/sol2
	url = git@github.com:ThePhD/sol2.git
[submodule "third_party/hat-trie"]
	path = third_party/hat-trie
	url = git@github.com:Tessil/hat-trie.git
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = git@github.com:fmtlib/fmt.git
